.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ui_segment1 {
  color: #b86114;
  text-align: left;
  position: static;
}

.ui_segment2 {
  color: #6c14b8;
}

.ui_segment3 {
  color: #21c441;
}
.ui_segment4 {
  color: #110423;
}
.ui_segment5 {
  color: #590707;
}
.ui_segment6 {
  color: #502c0d;
}
.dog {
  color: blue;
}
.ui_segments {
  background: rgb(204, 164, 164);
}

.App-header {
  background-color: #b86114;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
