.head1 {
  margin-left: 400px;
  text-shadow: 2px 2px gray;
}

.image-wrapper {
  display: inline;
  width: 250px;
  height: 180px;
  /* position: absolute;
  left: 0%; */
}
.inliner {
  display: block;
}
.span1 {
  background-color: lightblue;
  height: 100px;
  width: 200px;
  display: inline-block;
}
.span2 {
  background-color: pink;
  display: inline-block;
  height: 100px;
  width: 200px;
}

/* div h1 {
  background-color: brown;
} */

.txt1:focus {
  background-color: lightblue;
}

/* .txt2:disabled {
  cursor: not-allowed;
} */

/* .txt1:focus:required {
  background-color: rgb(255, 0, 0), 8;
} */

.span2::after {
  content: '!';
}
.span1::before {
  content: '~';
}
.imgback {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa2YQ4w9UVb9cqELy2SYK4gwEnxoESz0g15g&usqp=CAU');
  color: #f0f8ff;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.head1 {
  background: linear-gradient(to right, #f869d5, #5650de);
  width: 35%;
}
